:root
{
    --primary:#0051A1;
    --lightptimary:#9FC3E7;
    --gray:#E0E5E9;
}
/* *
{
    margin:0;
    padding:0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
} */
/* body
{
    display:flex;
} */

/* #sideMenu{
    border: 1px solid orangered;
} */
.sidebar
{
/*     position:sticky;
    top: 0;
    left:0;
    bottom: 0; */
   
    /* height: 100vh; */
    

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 111px;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    background-color: var(--primary);

    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.sidebar:hover
{
    width:250px;
    transition:0.5s;
}

.sidebar:hover + .main--content
{
    width: calc(100% - 250px);
    left: 250px;
    transition:0.5s;
}

.sidebar.open{
    width:250px;
    transition:0.5s;
}

.sidebar.open + .main--content
{
    width: calc(100% - 250px);
    left: 250px;
    transition:0.5s;
}

/* .sidebar:hover + .main--content .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition:0.5s;
}
 */
.logo
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* margin-bottom: 50px; */
    padding: 16px;
    font-size: 1.4rem;
}

.logo span
{
    overflow-x: hidden;
}

.menu
{
    height: 80%;
    position: relative;
    list-style-type: none;
    padding: 0;

    /* border: 1px solid orange; */
}
.menu li
{
    padding: 0.2rem;
    margin:8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}
.back
{
    margin-top:40px;
}
.menu li:hover 
{
    background-color:#e0e0e058 ;
}
.menu a
{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span
{
    overflow: hidden;
}
.menu a i
{
    font-size: 1.2rem;
}
.menu a img
{
    max-width: 35px;
    max-height: 35px;
}
.main--content
{
    /* position:relative; */
    background-color:#ebe9e9;
    /* width:100%; */
    padding:1rem;

    position: relative;
    width: calc(100% - 111px);
    left: 111px;
    transition: all 0.3s ease;
    height: 100%;
    /* border: 3px solid black; */
}
.search-box img
{
   width:50px;
   height:50px;
   cursor:pointer;
   border-radius: 50%;
}
.header--wrapper
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom:1rem;
}
.header--title
{
    color: var(--primary);
}
.user--info
{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-box
{
    background: rgba(237,237,237);
    border-radius: 15px;
    color: #0051A1;
    display: flex;
    align-items: center;
    gap:10px;
    padding:4px 12px;
}

.search-box input
{
    background:transparent;
    padding: 10px;
}
.search-box i
{
    font-size:1.2rem;
    cursor: pointer;
    transition:all 0.5s ease-out;
}
.search-box i:hover 
{
    transform: scale(1.2);
}
@media(max-width:500px)
{
    .sidebar
    {
        width: 90px;
    }

    .main--content
{
    width: calc(100% - 90px);
    left: 90px;
}

.sidebar:hover
{
    width:250px;
    transition:0.5s;
}

.sidebar:hover + .main--content
{
    width: calc(100% - 90px);
    left: 90px;
    transition:0.5s;
}

.sidebar.open
{
    width:250px;
    transition:0.5s;
}

.sidebar.open + .main--content
{
    width: calc(100% - 90px);
    left: 90px;
    transition:0.5s;
}
    .menu a i
{
    font-size: 1.5rem;
}

}
@media(max-width:376px)
{

    .header--wrapper
{
    align-items: flex-start;
    padding: 10px .8rem;
}

    .search-box
{
    gap:5px;
    padding:4px 8px;
}

.search-box input
{
    background:transparent;
    padding: 8px;
}
   
}