@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #0051a1;
    --light-primary: #9fc3e7;
    --grey: #e0e5e9;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.bx{
    font-size: 1.7rem;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 70px;
}

.sidebar .sidebar-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .sidebar-header .bx.bx-menu{
   position: absolute;
   margin: 0 5px;
   left: 90%;
   line-height: 50px;
   transform: translateX(-50%);
   cursor: pointer;
   z-index: 1000;
}

.sidebar.close .sidebar-header .bx.bx-menu{
    left: 50%;
}

.sidebar .sidebar-header .logo{
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    box-sizing: content-box;
    opacity: 1;
}

.sidebar.close .sidebar-header .logo{
    opacity: 0;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar .user .user-img{
    width: 60px;
    border-radius: 100%;
    margin: 15px 5px 10px;
}

.sidebar .user .user-name{
    font-weight: 500;
}

.sidebar .user .user-clinic{
    font-size: 10px;
    font-weight: 300;
}

.sidebar.close .user .user-name,.sidebar.close .user .user-clinic{
    opacity: 0;
}

.sidebar .logo .bx{
    z-index: 500;
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a,
.sidebar .side-menu li:hover a{
    background: var(--primary);
    color: var(--grey);
    box-shadow: 3px 5px 12px #555;
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu .log-li a.logout{
    color: var(--danger);
}

.sidebar .side-menu .log-li:hover a.logout{
    color: var(--grey);
    background: var(--danger);
    box-shadow: 3px 5px 12px #555;
}

.sidebar.close~.content{
    width: calc(100% - 100px); 
    left: 95px;
}

.content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 15px;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.content .left-side{
    grid-column: 1 / 2;
    margin: 0 15px;
}

.content .right{
    grid-column: 2 / 3;
    margin-right: 15px;
    padding: 0 15px;
}

.content .top{
    margin: 15px 20px;
    color: var(--dark);
}

.content .top .currentDay{
    color: var(--primary);
    font-weight: 500;
    font-size: 12px;
}

.content .top .currentDate{
    color: var(--dark-grey);
    font-weight: 400;
    font-size: 12px;
}

.content .banner{
    position: relative;
    /*width: 560px;*/
    height: 120px;
    color: var(--light);
    margin: 10px 0;
    background: var(--primary);
    border-radius: 20px;
    padding: 10px;
    transition: all .4s ease-in-out;
}

.content .banner img{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: auto;
}

.content .banner .title{
    text-align: center;
    margin: 20px 0;
}

.content .insights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
  
}

.content .insights li{
    background: var(--light);
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    box-shadow: 1px 2px 5px #555;
    transition: all .5s ease-in-out;
}

.content .insights li:hover{
    transform: scale(1.1);
    box-shadow: 3px 5px 12px #555;
}

.content .insights li .insight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 11px;
    font-weight: 400;
   
}

.content .insights li i{
    color: var(--primary);
    background: var(--light-primary);
    padding: 5px;
    margin: 7px;
    border-radius: 5px;
}


.content .request{
    margin: 0;
}

.content .request h4{
    color: var(--dark);
}

.content .request-table{
    width: 100%;
    border: none;
    border-radius: 15px;
    border-collapse: collapse;
    background: var(--light);
    margin: 10px 0;
    color: var(--dark);
    cursor: pointer;
}

.content .request-table th{
    text-align: center;
    height: 60px;
    border-bottom: 1px solid var(--grey);
}

.content .request-table td{
    text-align: center;
    height: 55px;
}

.content .request-table td button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.content .request-table td .acc-btn{
    color: var(--success);
}

.content .request-table td .del-btn{
    color: var(--danger);
}

.content .request-table tr td{
    transition: transform .4s;
}

.content .request-table tr:hover td{
    background: var(--grey);
    transform: scale(1.1);
    box-shadow: 3px 5px 12px #555;
}

.content .right .right-side{
    background: var(--light);
    border-radius: 15px;
    margin-top: 102px;
    padding: 10px;
    min-height: 550px;
}

.content .right .right-side .top{
    /*width: 400px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .right .right-side .top h2{
    color: var(--dark);
}

.content .right .right-side .top .filter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    border: 1px solid var(--dark-grey);
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
}

.content .right .right-side .top .filter input{
    width: inherit;
    color: var(--dark);
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    padding: 5px;
}

.content .right .right-side .top .filter i{
    color: var(--primary);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.content .right .right-side .top .filter i:hover{
    transform:  scale(1.1);
    color: var(--light-primary);
}

.content .right .right-side .appointments{
    width: 100%;
   /* height: 100%;*/
    border-collapse: separate;
    border-spacing: 0 20px;
}

.content .right-side .appointments .info{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 10px;
}

.content .right-side .appointments .info h3{
    color: var(--dark);
}

.content .appointments .info label,
.content .appointments .info i{
    font-size: 13px;
    color: var(--dark);
    font-weight: 300;
}

.content .right .right-side .appointments tr{
   background: #f0f0f0;
    height: 100px;
}

.content .appointments .view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .appointments .view-btn button{
    background: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all .4s ease-in-out;
}

.content .appointments .view-btn button:hover{
    background: var(--light-primary);
}

/* Responsive */

@media(max-width:1260px){
    .content .insights li .insight{
        font-size: 10px;
    }

    .content .insights li i{
        font-size: 20px;
    }
}

@media(max-width:1150px){

    .content{
        display: block;
        width: calc(100% - 220px);
        left: 220px;
        transition: all 0.3s ease;
        margin: 10px;
    }

    .content .left-side{
        margin: 0 25px;
    }

    .content .right{
        margin: 10px 25px;
        padding: 0;
    }

    .content .right .right-side{
        margin: 0;
    }

    .sidebar.close~.content{
        width: calc(100% - 100px); 
        left: 85px;
    }

    .content .insights li{
        justify-content: space-around;
    }

    .content .insights li .insight{
        font-size: 15px;
    }

    .content .insights li i{
        font-size: 35px;
    }
}

@media(max-width:830px){

    .content .insights li .insight{
        font-size: 10px;
    }

    .content .insights li i{
        font-size: 20px;
    }
   
}
@media(max-width:670px)
{
   .content .insights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
   }

   .content .insights li{
    width: 100%;
   }

   .content .insights li .insight{
    font-size: 12px;
}

.content .insights li i{
    font-size: 30px;
}
}

@media(max-width:700px){
    .banner img{
        display: none;
    }

}

@media(max-width:610px){
    .sidebar{
        width: 70px;
    }

    .sidebar .logo,.sidebar .logo-name,
    .sidebar .user-clinic,.sidebar .user-name{
        opacity: 0;
    } 

    .sidebar .side-menu li a{
        width: calc(48px - (4px * 2));
        transition: all 0.3s ease;
    }

    .sidebar .sidebar-header .bx.bx-menu{
        display: none;
    }

    .sidebar~.content{
        width: calc(100% - 100px); 
        left: 65px;
    }

}

@media(max-width:550px){
    .content .banner{
        display: none;
    }

    .content .right-side{
        margin-right: 10px;
    }
    
    .content .request{
        overflow-x: auto;
    }

    .content .request .request-table{
        width: 400px;
    }
}

@media(max-width:440px){
    .content .insights{
       grid-template-columns: 1fr;
    }
}

@media(max-width:390px){

    .content .right .right-side .top .filter{
        display: none;
    }
    
}